.carousel-container {
  height: 85vh;
  width: 99vw;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 15px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  inset: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item:nth-child(1) {
  z-index: 1;
}

.carousel-item:nth-child(1) .content-author,
.carousel-item:nth-child(1) .content-title,
.carousel-item:nth-child(1) .content-topic,
.carousel-item:nth-child(1) .content-des,
.carousel-item:nth-child(1) .content-buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

.carousel-item:nth-child(1) .content-title {
  animation-delay: 1.2s !important;
}

.carousel-item:nth-child(1) .content-topic {
  animation-delay: 1.4s !important;
}

.carousel-item:nth-child(1) .content-des {
  animation-delay: 1.6s !important;
}

.carousel-item:nth-child(1) .content-buttons {
  animation-delay: 1.8s !important;
}

@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.carousel-container.next .carousel-item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel-container.next .thumbnail-container {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

.carousel-container.next .thumbnail-item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel-container.prev .carousel-item:nth-child(2) {
  z-index: 2;
}

.carousel-container.prev .carousel-item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel-container.prev .thumbnail-item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.carousel-container.prev .carousel-item:nth-child(2) .content-author,
.carousel-container.prev .carousel-item:nth-child(2) .content-title,
.carousel-container.prev .carousel-item:nth-child(2) .content-topic,
.carousel-container.prev .carousel-item:nth-child(2) .content-des,
.carousel-container.prev .carousel-item:nth-child(2) .content-buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.time-bar {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel-container.next .time-bar,
.carousel-container.prev .time-bar {
  animation: runningTime 3s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media screen and (max-width: 678px) {
  .carousel-content {
    padding-right: 0 !important;
  }
  .content-title {
    font-size: 30px !important;
  }
  .carousel-container {
    width: 96vw;
  }
}
